<ul class="nav nav-list">
    <li class="">
        <a href="@Url.Action("Index","Home")">
            <i class="menu-icon fa fa-tachometer"></i>
            <span class="menu-text">Home</span>
        </a>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">Parameter</span>

            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>

        <ul class="submenu">
            
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    File Security
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Menu Builder
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    File Approval
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Audit Trail
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <ul class="submenu">
                    <li class="">
                        <a href="#">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Management
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#">
                    <i class="menu-icon fa fa-caret-right"></i>
                    User Management
                </a>

                <b class="arrow"></b>
            </li>
        </ul>
    </li>

    <li class="">
        <a href="@Url.Action("Contact","Home")">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Data Management </span>
        </a>
    </li>

    @*<li class="">
        <a href="@Url.Action("SearchBookByCriteria","Store")">
            <i class="menu-icon fa fa-pencil-square-o"></i>
            <span class="menu-text"> Search Book </span>
        </a>
    </li>*@

    @if (User.IsInRole("Admin"))
    {
        <li class="">
            <a href="@Url.Action("Index","Category")">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> Setup Category </span>
            </a>
        </li>
        
        <li class="">
            <a href="@Url.Action("Index","Books")">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Setup Book </span>
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("Index","Admin")">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> Setup User </span>
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("GetAllRole", "Admin")">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> Setup Role </span>
            </a>
        </li>

        <li class="">
            <a href="@Url.Action("AddUserToRole", "Admin")">
                <i class="menu-icon fa fa-adn"></i>
                <span class="menu-text"> User In Role </span>
            </a>
        </li>
    }
    

    @*<li class="">
        <a href="@Url.Action("Index","Store")">
            <i class="menu-icon fa fa-picture-o"></i>
            <span class="menu-text"> Store </span>
        </a>
    </li>*@
    
</ul><!-- /.nav-list -->